<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="bayi">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="/Default.aspx" loginUrl="/Login.aspx" timeout="60"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <sessionState timeout="200"></sessionState>
    <globalization requestEncoding="windows-1254" responseEncoding="windows-1254" culture="tr-TR" uiCulture="tr" fileEncoding="windows-1254" />
  </system.web>
  <connectionStrings>
    <add name="CS1" connectionString="Data Source=LENOVO\SQLEXPRESS;Integrated Security=True;Initial Catalog=DbToys" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>